.root {
    -fx-background-image: url(http://worldartsme.com/images/locked-button-clipart-1.jpg);
    -fx-background-position: center center;
    -fx-background-repeat:  stretch;
}

.text-area {
    -fx-opacity: 0.8;
    -fx-focus-color: none;
}

.infobox {
    -fx-font-style: italic;
    -fx-font-size: 17px;
    -fx-text-fill: #181818;
}